<div class="photoListItem">
  <div class="photoImg">
    <a ng-click="$scope.selectPhoto(photo)" href="#/photoDetails">
      <img ng-src="{{ photo.media.m }}"/>
    </a>
  </div>
  <div class="photoDetails">
    <h2><a ng-click="$scope.selectPhoto(photo)" href="#/photoDetails">{{ photo.title }}</a></h2>
    <ul>
      <li><a href="{{ $scope.getAuthorUrl() }}">{{ photo.author }}</a></li>
      <li>Published: {{ $scope.getPublishedDate() }}</li>
      <li><a href="{{ photo.link }}">View on Flickr</a></li>
    </ul>
  </div>
</div>
